<section class="work-cards">
  <article [ngClass]="['work-card', 'work-card--xp']" >
      <!-- <a href="#"> -->
        <header>
          <p class="category category__01">{{ category }}</p>
          <picture class="thumbnail">
              <img src="../shared/images/xp-icon.svg" aria-hidden="true" alt="Exact Path {{ 'category' | titlecase }}">
          </picture>
          <h2>Anderson Algebra 1A</h2>
        </header>
        <div class="work-card-content">
            <p>Current Grade: 90%</p>
            <p>Course Grade: 42%</p>
        </div><!-- .card-content -->
        <footer>
          <div class="card-meta">
            <!-- <img src="../shared/images/xp-icon.svg" aria-hidden="true" alt=" {{ 'messages' | titlecase }}">
            <span class="resuts">19</span>
            <p>{{ message }}</p> -->
            <progress value="33" max="100"></progress>
          </div>
        </footer>
      <!-- </a> -->
  </article><!-- .card -->

</section>
